<!--Lower Header Section -->
<div id="gototop"> </div>
<header id="header">
	<div class="row">
		<div class="span4">
			<h1>
				<a class="logo" href="index.html">
					<span>Twitter Bootstrap ecommerce template</span>
					<img src="assets/img/lotus.png" alt="bootstrap sexy shop">
				</a>
			</h1>
		</div>
		<div class="span4">
			<div class="offerNoteWrapper">
				<h1 class="dotmark">
					<i class="icon-cut"></i>
					Wellcome to Lotus jeweiry....
				</h1>
			</div>
		</div>
		<div class="span4 alignR">
			<p>
				<br>
				<strong> Support (24/7) : 0800 1234 678 </strong>
				<br>
				<br>
			</p>
		</div>
	</div>
</header>

<!--Navigation Bar Section -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="" routerLinkActive="active">
						<a routerLink="home">Home</a>
					</li>
					<li class="" routerLinkActive="active">
						<a routerLink="productlist">List View</a>
					</li>
					<li class="" routerLinkActive="active">
						<a routerLink="four-col">Four Column</a>
					</li>
					<li class="">
						<a routerLink="generalContent">General Content</a>
					</li>
				</ul>
				<form action="#" class="navbar-search pull-left">
					<input type="text" placeholder="Search" class="search-query span3" [(ngModel)]="itemsearch" name="itemsearch" (keyup.enter)="gotoSearch()">
				</form>
				<app-login></app-login>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>