<div id="sidebar" class="span3">	
	<div class="well well-small">
		<ul class="nav nav-list">			
			<li routerLinkActive="active"><a routerLink="typeProduct" (click)="SetType(1)"><span class="icon-chevron-right"></span>Bộ sưu tập</a></li>			
			<li routerLinkActive="active"><a routerLink="typeProduct" (click)="SetType(2)"><span class="icon-chevron-right"></span>Trang sức cưới</a></li>			
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(3)"><span class="icon-chevron-right"></span>Trang sức vàng</a></li>
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(4)"><span class="icon-chevron-right"></span>Trang sức bạc</a></li>
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(5)"><span class="icon-chevron-right"></span>Kim cương</a></li>
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(6)"><span class="icon-chevron-right"></span>Đá quý</a></li>
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(7)"><span class="icon-chevron-right"></span>Ngọc trai</a></li>
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(8)"><span class="icon-chevron-right"></span>Đồng hồ</a></li>
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(9)"><span class="icon-chevron-right"></span>Quà tặng</a></li>
			<li><a routerLink="typeProduct" routerLinkActive="active" (click)="SetType(10)"><span class="icon-chevron-right"></span>Sản phẩm nổi bật</a></li>			
			<li style="border:0"> &nbsp;</li>
			<li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
		</ul>
	</div>

	<div class="well well-small alert alert-warning cntr">
		<h2>50% Discount</h2>
		<p>
			only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
		</p>
	</div>
	<div class="well well-small"><a href="#"><img src="assets/img/paypal.jpg" alt="payment method paypal"></a></div>
	<a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
	<br>
	<br>
	<ul class="nav nav-list promowrapper">
		<li>
			<div class="thumbnail">
				<a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<img src="assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
				<div class="caption">
					<h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			</div>
		</li>
		<li style="border:0"> &nbsp;</li>
		<li>
			<div class="thumbnail">
				<a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<img src="assets/img/shopping-cart-template.png" alt="shopping cart template">
				<div class="caption">
					<h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			</div>
		</li>
		<li style="border:0"> &nbsp;</li>
		<li>
			<div class="thumbnail">
				<a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
				<img src="assets/img/bootstrap-template.png" alt="bootstrap template">
				<div class="caption">
					<h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
				</div>
			</div>
		</li>
	</ul>

</div>
<!--<router-outlet></router-outlet>-->
