<ul class="nav pull-right">
	<li *ngIf="!usertrue" class="">
		<a routerLink="register" routerLinkActive="active">
		<span class="icon-edit"></span> Free Register </a>
	</li>

	<!--Sign In-->
	<li *ngIf="!usertrue" class="dropdown">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">
			<span class="icon-lock" id="login"></span> Login
			<b class="caret"></b>
		</a>
		<div class="dropdown-menu">
			<form class="form-horizontal loginFrm" #f="ngForm" (ngSubmit)="CheckLogin(f.value) " id="formLogin">
				<div class="control-group">
					<input type="text" class="span2" id="inputUsername" name="username" placeholder="Username" [(ngModel)]="username">
				</div>
				<div class="control-group">
					<input type="password" class="span2" id="inputPassword" name="password" placeholder="Password" [(ngModel)]="password">
				</div>
				<div class="control-group">
					<label class="checkbox">
						<input type="checkbox"> Remember me
					</label>
					<p>
						<button type="submit" class="shopBtn btn-block">
							<span id="model_loggin">Sign in</span>
						</button>
					</p>
				</div>
			</form>
		</div>
	</li>
	
	<!--Sign Out-->
	<li *ngIf="usertrue" class="dropdown">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">
			<span class="icon-lock" id="login"></span> {{username}}
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li style="text-align: left;"><a>Signed in as <strong> <i>{{username}}</i></strong></a></li>
			<li class="divider"></li>
			<li style="text-align: left;"><a>Your profile</a></li>
			<li style="text-align: left;"><a routerLink="cart">Your cart</a></li>
			<li class="divider"></li>
			<li style="text-align: left;"><a >Help</a></li>
			<li style="text-align: left;"><a >Settings</a></li>
			<li style="text-align: left;"><a href="#">Sign out</a></li>
		</ul>
	</li>
</ul>
