<hr class="soften">
<div class="well well-small">
<h1>Visit us</h1>
<hr class="soften"/>	
<div class="row-fluid">
    <div class="span8 relative">
    <iframe style="width:100%; height:350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
    src="https://maps.google.com/maps?q=10 pho quang&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>

    <div class="absoluteBlk">
    <div class="well wellsmall">
    <h4>Contact Details</h4>
    <h5 style="width:400px">
        Waseco Building, 10 Pho Quang Str.<br/>
        Tan Binh Dist., HCM City, VietNam<br/><br/>
         
        info@mysite.com<br/>
        ﻿Tel (84-8)384-77-000<br/>
        Fax (84-8)384-75-000<br/>
        web:http://www.fujinet.net
    </h5>
    </div>
    </div>
    </div>
    
    <div class="span4">
    <h4>Email Us</h4>
    <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
       
          <input type="text" placeholder="your name" class="input-xlarge"/>
       
      </div>
       <div class="control-group">
       
          <input type="text" placeholder="email" class="input-xlarge"/>
       
      </div>
       <div class="control-group">
       
          <input type="text" placeholder="subject" class="input-xlarge"/>
      
      </div>
      <div class="control-group">
          <textarea rows="3" id="textarea" class="input-xlarge"></textarea>
       
      </div>

        <button class="shopBtn" type="submit">Send email</button>

    </fieldset>
  </form>
    </div>
</div>