<div class="row">
  <div class="span12">
    <div class="well well-small">
      <h1>Check Out <small class="pull-right"> {{TotalItem}} Items are in the cart </small></h1>
      <hr class="soften" />
      <table border="1px" class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Unit price</th>
            <th>Qty </th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pro of pro_carts; let i = index">
            <td><img width="100" src="{{pro.imageUrl}}" alt=""></td>
            <td>Tên sản phẩm: {{pro.product_name}}<br>Mô tả: {{pro.product_detail}}</td>
            <td>${{pro.price | number: '1.2-2'}}</td>
            <td><div class="controls">	<input type="number" class="span1" value="1"></div> </td>
            <td>
              <div align="left" >${{pro.price * 2 | number: '1.2-2'}} </div>
              <div align="right" ><button class="btn btn-sm" type="button" (click)="Delete(pro.id)"><span class="icon-trash"></span></button></div>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="alignR">Total products: </td>
            <td class="label label-primary"> $448.42</td>
          </tr>
        </tbody>
      </table><br/>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <td> 
              <form class="form-inline">
                <label style="min-width:159px"> VOUCHERS Code: </label> 
                <input type="text" class="input-medium" placeholder="CODE">
                <button type="submit" class="shopBtn"> ADD</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <tbody>
          <tr><td>ESTIMATE YOUR SHIPPING & TAXES</td></tr>
          <tr> 
            <td>
              <form class="form-horizontal">
                <div class="control-group">
                <label class="span2 control-label" for="inputEmail">Country</label>
                <div class="controls">
                    <input type="text" placeholder="Country">
                </div>
                </div>
                <div class="control-group">
                <label class="span2 control-label" for="inputPassword">Post Code/ Zipcode</label>
                <div class="controls">
                    <input type="password" placeholder="Password">
                </div>
                </div>
                <div class="control-group">
                <div class="controls">
                    <button type="submit" class="shopBtn">Click to check the price</button>
                </div>
                </div>
              </form> 
            </td>
          </tr>
        </tbody>
      </table>		
      <a routerLink="productlist" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Continue Shopping </a>
      <a href="login.html" class="shopBtn btn-large pull-right">Next <span class="icon-arrow-right"></span></a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>