<div class="row">
  <div class="span12">
    <div class="well well-small">
      <h1>Check Out <small class="pull-right"> {{TotalItem}} Items are in the cart </small></h1>
      <hr class="soften" />
      <table border="1px" class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Unit price</th>
            <th>Qty </th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pro of pro_carts; let i = index">
            <td><img width="100" src="{{pro.imageUrl}}" alt=""></td>
            <td>Tên sản phẩm: {{pro.product_name}}<br>Mô tả: {{pro.product_detail}}</td>
            <td> <p >${{pro.price | number: '1.2-2'}}</p></td>
            <td><div class="controls">	
              <input type="number" class="span1" value="{{pro.quality}}" #textAmount (click)="Cash(textAmount.value, pro.price, pro.product_id)">
              </div> </td>
            <td>
              <div id ="total_money" align="left" >${{pro.total | number: '1.2-2'}} </div>
              <div align="right" ><button class="btn btn-sm" type="button" (click)="Delete(pro.product_id)"><span class="icon-trash"></span></button></div>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="alignR">Total products: </td>
            <td class="label label-primary"> ${{Money | number: '1.2-2'}}</td>
          </tr>
        </tbody>
      </table><br/>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <td> 
              <form class="form-inline">
                <label style="min-width:159px"> VOUCHERS Code: </label> 
                <input type="text" class="input-medium" placeholder="CODE">
                <button type="submit" class="shopBtn"> ADD</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>	
      <a routerLink="productlist" class="shopBtn btn-large"><span class="icon-arrow-left"></span> Continue Shopping </a>
      <a href="login.html" class="shopBtn btn-large pull-right">Next <span class="icon-arrow-right"></span></a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>