<div class="row">
	<app-sidebar></app-sidebar>
	<div class="span9">
		<div class="well well-small">
			<ul class="thumbnails">
				<li class="span4" style="width:210px;height:350px" *ngFor="let pro of products | paginate: {itemsPerPage:6, currentPage:page, id: '1'}; let i = index">
					<div class="thumbnail">
						<a (click)="getProduct(pro.product_id)"><img src="{{pro.imageUrl}}" alt=""></a>
						<div class="caption cntr">
							<p>{{pro.product_name}}</p>
							<p><strong> ${{pro.price | number: '1.2-2'}}</strong></p>
							<h4><a class="shopBtn" (click)="addCart(pro.product_id)"> Add to cart </a></h4>
							<br class="clr">
						</div>
					</div>
				</li>
			</ul>
			<div style="text-align: center">
				<pagination-controls (pageChange)="page = $event" id="1" maxSize="6" directionLinks="true" autoHide="true">
				</pagination-controls>
			</div>
		</div>
	</div>
</div>
<!--modal start -->
<div id="id01" class="w3-modal">
	<div class="w3-modal-content">
		<div class="w3-container">
				<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
				<p class="classimg"><img src="{{product.imageUrl}}"></p>
				<div class="classmain">
					<p class="classname"><strong>{{product.product_name}}</strong></p>
					<!-- <p class="classdetail"><strong>{{product.product_detail}}</strong></p> -->
					<p class="classdetail"><strong>Sản phảm được nhập lậu từ Ai Cập.</strong></p>
					<p class="classprice"><strong> ${{product.price | number: '1.2-2'}}</strong></p>
				</div>
		</div>
	</div>
</div>
<!--modal end -->