.button {
    background-color: #008CBA;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 80px;
    border-radius: 4px;

}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.th,tr,td{
    width: 100px;
}