<!-- Products-->
<h3>Our Products</h3>
<div *ngFor="let pro of products; let i = index">
  <div ngSwitch="{{pro.product_type}}">
    <!--<div *ngSwitchCase="'1'" [ngClass]="'wedding'">     -->
      <div *ngSwitchCase="product_type_value" [ngClass]="'wedding'">
      <div *ngIf="i % 4 === 0">
        <ul class="thumbnails" *ngIf="i % 4 === 0">
            <li class="span3">
              <app-product [product]="products[i]"></app-product>
            </li>
            <li class="span3">
              <app-product [product]="products[i+1]"></app-product>
            </li>
            <li class="span3">
              <app-product [product]="products[i+2]"></app-product>
            </li>
            <li class="span3">
              <app-product [product]="products[i+3]"></app-product>
            </li>
        </ul>
      </div>
    </div>
    <!--<div *ngSwitchCase="'2'" [ngClass]="'two'">I am Odd.</div>-->
  </div> 	
</div> 
