<div class="row">
	<app-sidebar></app-sidebar>
	<div class="span9">
		<div class="well well-small">
			<div class="row-fluid" *ngIf="(products | productfilter:itemsearch)?.length  <= 0">
				<p>Your search <b>"{{itemsearch}}"</b> did not match any products.</p>

				<b>Try something like</b>
				<p>&#8718;	Using more general terms <br>
				&#8718;	Checking your spelling</p>
			</div>
			<div class="row-fluid" *ngIf="(products | productfilter:itemsearch)?.length  > 0">
				<p>{{(products | productfilter:itemsearch)?.length }} results for <b>"{{itemsearch}}"</b></p>
			</div> 
			
			<hr class="soften"> 
			
			<div class="row-fluid" *ngFor ="let pro of products | productfilter: itemsearch | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index " >	  

				<div class="span2">
					<img src="{{pro.imageUrl}}" alt="">
				</div>

				<div class="span6">
					<h5>{{pro.product_name}} </h5>
					<p>{{pro.product_detail}} </p>
				</div>

				<div class="span4 alignR">
					<form class="form-horizontal qtyFrm">
					<h3>${{pro.price | number: '1.2-2'}}</h3>
					<label class="checkbox">
						<input type="checkbox">  Adds product to compair
					</label><br>
					<div class="btn-group">
						<a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
						<a href="product_details.html" class="shopBtn">VIEW</a>
					</div>
					</form>
				</div>
			</div>
		</div>
		<pagination-controls (pageChange)="page = $event" id="1"
			maxSize="5"
			directionLinks="true"
			autoHide="true">
		</pagination-controls>
	</div>
</div>



