<!-- Registration -->
<div class="row">
    <app-sidebar></app-sidebar>
    <div class="span9">
        <div class="well">
            <h3> Đăng ký</h3>
            <hr class="soft" />
            <form class="form-horizontal" name="form" (ngSubmit)="userForm.form.valid && register()" #userForm="ngForm" novalidate>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Tên hiển thị <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" id="inputUname" placeholder="Tên hiển thị" required [(ngModel)]="model.username" name="username" #username="ngModel"
                        />
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="form-danger">
                            <div *ngIf="username.errors.required">
                                Tên chưa được nhập.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email <sup>*</sup></label>
                    <div class="controls">
                        <input type="text" placeholder="Email" required [(ngModel)]="model.email" name="email" #email="ngModel" />

                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-danger">
                            <div *ngIf="email.errors.required">
                                Email chưa được nhập.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Mật khẩu <sup>*</sup></label>
                    <div class="controls">
                        <input type="password" placeholder="Mật khẩu" required minlength="4" [(ngModel)]="model.password" name="password" #password="ngModel"
                        />

                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-danger">

                            <div *ngIf="password.errors.required">
                                Mật khẩu chưa được nhập.
                            </div>
                            <div *ngIf="password.errors.minlength">
                                Mật khẩu dưới 4 ký tự.
                            </div>
                        </div>

                    </div>
                </div>

                <div class="control-group">
                    <div>
                        <div class="controls span2">
                            <!--<input type="submit" name="submitAccount" value="Đăng ký" class="exclusive shopBtn">-->
                            <button type="submit" name="submitAccount" value="Đăng ký" class="btn btn-warning">Đăng ký</button>
                        </div>
                        <div class="controls">
                            <button type="button" class="btn btn-primary" routerLink="../home">Hủy bỏ</button>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>